# Logs\r
logs\r
*.log\r
npm-debug.log*\r
yarn-debug.log*\r
yarn-error.log*\r
pnpm-debug.log*\r
lerna-debug.log*\r
\r
node_modules\r
dist\r
dist-ssr\r
*.local\r
\r
# Editor directories and files\r
.vscode/*\r
!.vscode/extensions.json\r
.idea\r
.DS_Store\r
*.suo\r
*.ntvs*\r
*.njsproj\r
*.sln\r
*.sw?\r
